/* Genel Stiller */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Header */
header {
    background-color: #cf8422;
    color: white;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Ana Sayfa */
.haberler {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.haber {
    background: white;
    width: 300px;
    margin: 15px;
    padding: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.haber img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    
}

.haber h2 {
    font-size: 20px;
    margin: 10px 0;
}

.haber p {
    font-size: 16px;
    color: #555;
}

.haber a {
    display: inline-block;
    padding: 8px 15px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.haber a:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
